/** HW1
**/

* {
    box-sizing: border-box;
    text-align: center;
  }

body {
    background: grey;
    line-height: 12px;
    width: 960px;
    margin: auto;
  
}

header {
    padding: 20px;
    margin-bottom: 5px;
    margin-left: 18%;
    margin-right: 18%;
    color: grey;
    background: #ccc;
  }

  nav {
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 18%;
    margin-right: 18%;
    color: grey;
    background: #ccc;
  }

  section {
    padding: 20px;
    margin-bottom: 5px;
    margin-left: 18%;
    color: grey;
    background: #ccc;
    height: 250px;
    width: 35%;
    float: left;
  }

  aside {
    padding: 20px;
    margin-bottom: 5px;
    margin-right: 18%;
    color: grey;
    background: #ccc;
    height: 250px;
    width: 28%;
    float: right;
  }

  article {
    padding: 5px;
    color: #ccc;
    background: grey;
    height: 175px;
  }

  .boxbox {
    color: grey;
    background: #ccc;
    margin-top: 30px;
  }

  #h1s {
    color: grey;
    background: #ccc;
    padding: 10px 92px;
    margin-top: 50px;
    height: 65px;

  }

  #p {
    color: grey;
    background: #ccc;
   
    padding: 10px 10px;
    width: 255px;
    height: 75px;
    margin: center;
    margin-left: 15px;
  }
  footer {
    padding: 10px;
    margin-top: 275px;
    height: 55px;
    margin-bottom: 15px;
    margin-left: 18%;
    margin-right: 18%;
    color: grey;
    background: #ccc;